[Unit]
Description=Weston Wayland Compositor
Documentation=https://wayland.freedesktop.org/weston.html
After=network-online.target rc-local.service systemd-user-sessions.service getty.target
Wants=network-online.target

[Service]
Type=exec
Environment=XDG_RUNTIME_DIR=/run/weston
UnsetEnvironment=WAYLAND_DISPLAY
ExecStartPre=/bin/mkdir -p /run/weston
ExecStartPre=/bin/chmod 0755 /run/weston
ExecStart=/usr/bin/weston --backend=drm-backend.so --tty=7 --socket=wayland-1
Restart=on-failure

[Install]
WantedBy=multi-user.target
