[Unit]
Description=XFCE Desktop Environment
After=network-online.target rc-local.service systemd-user-sessions.service getty.target
Wants=network-online.target

[Service]
Type=simple
User=root
Environment=XAUTHORITY=/root/.Xauthority
ExecStart=/usr/bin/startxfce4
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
